<!-- views/partials/_header.ejs -->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <% if (user) { %>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
    <div class="navbar-nav ml-auto"> <!-- Move the login and register buttons to the right -->
      <% if (!user) { %>
        <a class="btn nav-link" href="/login">Login</a> <!-- Style it as a button -->
        <a class="btn nav-link" href="/register">Register</a> <!-- Style it as a button -->
      <% } else { %>
        <span class="nav-item nav-link">Logged in as <%= user.email %></span>
        <a class="btn nav-link" href="/logout">Logout</a> <!-- Style it as a button -->
      <% } %>
    </div>
  </nav>
</header>
